<div *ngFor="let p of myObj.fetchedProducts">
	<div *ngIf="productName==p.pname">
<div class="row">
	<div id="gallery" class="span3">
            <a href="assets/themes/images/products/large/f1.jpg" title="Fujifilm FinePix S2950 Digital Camera">
				<img src="http://localhost:3000/{{p.pimagePath}}" alt="{{p.imagePath}}" style="width:100%;height:200px;">
            </a>
			
			  
			 <div class="btn-toolbar">
			  <div class="btn-group">
				<span class="btn"><i class="icon-envelope"></i></span>
				<span class="btn"><i class="icon-print"></i></span>
				<span class="btn"><i class="icon-zoom-in"></i></span>
				<span class="btn"><i class="icon-star"></i></span>
				<span class="btn"><i class=" icon-thumbs-up"></i></span>
				<span class="btn"><i class="icon-thumbs-down"></i></span>
			  </div>
			</div>
			</div>

			<div class="span6">
				<h3>{{p.pname}}</h3>
				<small>- {{p.os}}-{{p.warranty}}-{{p.processor}}</small>
				<hr class="soft">
				<form class="form-horizontal qtyFrm">
				  <div class="control-group">
					<label class="control-label"><span>Rs.{{p.price}}</span></label>
					<div class="controls">
					<input type="number" class="span1" placeholder="Qty.">
					  <button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button>
					</div>
				  </div>
				</form>
				
				<hr class="soft">
				<h4>100 items in stock</h4>
				<form class="form-horizontal qtyFrm pull-right">
				  <div class="control-group">
					<label class="control-label"><span>Color</span></label>
					<div class="controls">
					  <select class="span2" style="visibility: visible;">
						  <option>Black</option>
						  <option>Red</option>
						  <option>Blue</option>
						  <option>Brown</option>
						</select>
					</div>
				  </div>
				</form>
				<hr class="soft clr">
			
				<a class="btn btn-small pull-right" href="#detail">More Details</a>
				<br class="clr">
			<a href="#" name="detail"></a>
			<hr class="soft">
			</div>	
</div>
</div>
</div>