
<ul class="thumbnails">
				<li class="span3" *ngFor="let p of products | limitTo:3">
				  <div class="thumbnail">
				  <i class="tag"></i>
					<a href="product_details.html">
					<img src="http://localhost:3000/{{p.pimagePath}}" alt="{{p.pimagePath}}" width="200" height="200"></a>
					<div class="caption" >
					  <h5>{{p.name}}</h5>
					  <h4><a class="btn" routerLink="cateogary/{{p.cname}}/productDetails/{{p.name}}">VIEW</a> <span class="pull-right">{{p.price}}</span></h4>
					  <p><strong>{{p.dat | date : 'dd-MM-yyyy hh:mm:ss'}}</strong></p>
					</div>
				  </div>
				</li>
	</ul>			
